@import "tailwindcss";

* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: black;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.font-mono {
  font-family: 'DM Mono', monospace;
}